
<div class="card-category" >
Culture
</div>

<%# <% if @participation.category == "culture" %>
<%# <%=  %>

<%# <% elsif @participation.category == "sport" %>
<%# <%=  %>

<%# <% elsif @participation.category == "jeux de société" %>
<%# <%=  %>

<div class="container mt-5">
  <div class="row">
    <h1><%= @participation.activity.title %></h1>
  </div>

  <div class="row mt-3">
      <h2><%= @participation.activity.start_date %></h2>
  </div>

  <div class="row">
    <h2><%= @participation.activity.address %></h2>
  </div>

  <div class="row mt-3">
    <p><%= @participation.activity.description %></p>
  </div>
</div>


<div class="container">
</div>
