
<div class="container">
  <% if @activity.category.name == "Culture" %>
    <div class="card-category-culture" >
      <%= "Culture" %>
    </div>
  <% elsif @activity.category.name == "Sport" %>
    <div class="card-category-sport" >
      <%= "Sport" %>
    </div>
  <% elsif @activity.category.name == "Jeux de société" %>
    <div class="card-category-games" >
      <%= "Jeux de société" %>
    </div>
  <% elsif @activity.category.name == "Jeux vidéo" %>
    <div class="card-category-videogames" >
      <%= "Jeux vidéo" %>
    </div>
  <% elsif @activity.category.name == "Soirées" %>
    <div class="card-category-parties" >
      <%= "Soirées" %>
    </div>
  <% elsif @activity.category.name == "Activités manuelles" %>
    <div class="card-category-manual-activities" >
      <%= "Activités manuelles" %>
    </div>
  <% end %>

  <div class="container mt-5">
    <div class="row">
      <h1><%= @participation.activity.title %></h1>
    </div>
    <div class="row mt-3">
      <h2><%= @participation.activity.start_date %></h2>
    </div>
    <div class="row">
      <h2><%= @participation.activity.address %></h2>
    </div>
    <div class="row mt-3">
      <p><%= @participation.activity.description %></p>
    </div>
  </div>

  <div class="row">
    <% @activity.users.each do |user| %>
      <div>
        <% if user.avatar.attached? %>
          <%= cl_image_tag(user.avatar.key, class: "avatar", crop: :fill) %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="btn-ghost">
    <%= link_to "Chat", activities_path %>
  </div>
</div>
