
<div class="card-category" >
Culture
<%# <% if @participation.category == "culture" %>
<%# <%= Culture %>

<%# <% elsif @participation.category == "sport" %>
<%# <%=Sport %>

<%# <% elsif @participation.category == "jeux de société" %>
<%# <%= Jeux de société %>

<%# <% if @participation.category == "jeux vidéo" %>
<%# <%= Jeux vidéo %>

<%# <% if @participation.category == "soirées" %>
<%# <%= Soirées %>

<%# <% if @participation.category == "activités manuelles" %>
<%# <%= Activités manuelles %>
</div>

<div class="container mt-5">
  <div class="row">
    <h1><%= @participation.activity.title %></h1>
  </div>
  <div class="row mt-3">
      <h2><%= @participation.activity.start_date %></h2>
  </div>
  <div class="row">
    <h2><%= @participation.activity.address %></h2>
  </div>
  <div class="row mt-3">
    <p><%= @participation.activity.description %></p>
  </div>
</div>


<div class="container">
<%= image_tag "categories/culture.png", alt: " Categorie Culture " %>
</div>

<div class="card-category-culture" >
<%# <% if @participation.category == "culture" %>
<%# <%= Culture %>
</div>

<div class="card-category-sport" >
<%# <% elsif @participation.category == "sport" %>
<%# <%=Sport %>
</div>

<div class="card-category-games" >
<%# <% elsif @participation.category == "jeux de société" %>
<%# <%= Jeux de société %>
</div>

<div class="card-category-video-games" >
<%# <% if @participation.category == "jeux vidéo" %>
<%# <%= Jeux vidéo %>
</div>

<div class="card-category-parties" >
<%# <% if @participation.category == "soirées" %>
<%# <%= Soirées %>
</div>
