<div class="banner position-relative">
  <div class="container">
    <h1 class="text-center">Profile</h1>
  </div>
  <div class="position-absolute top-100 start-50 translate-middle">
    <% if @user.avatar.attached? == false %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-big" %>
    <% else %>
      <%= cl_image_tag(@user.avatar.key, class: "avatar-big", crop: :fill) %>
    <% end %>
  </div>
</div>
<div class="container title-profil">
  <h1><%= @user.first_name %> <%= @user.last_name.capitalize %></h1>
  <h3><strong><%= ((Time.now - @user.birthday.to_time)/(60*60*24*365)).floor %></strong> years old</h3>
  <!-- =======================
  Badge START -->
  <div class="row flex-nowrap overflow-auto">
    <% @user.user_badges_as_receiver.group_by(&:badge_id).each do |badge_group| %>
      <% badge = badge_group[1].first.badge %>
      <div class="col align-self-start">
        <%= image_tag badge.icon, class: "badge-large" %>
        <h3><%= badge.name %> x <%= @num_badges[badge.id] %></h3>
      </div>
    <% end %>
  </div>
  <!-- =======================
  Badge END -->
</div>
<!-- =======================
Event list START -->
<div class="container">
  <div class="text-center mt-5">
        <%= link_to "Activités passées", "#", class: "btn btn-ghost active" %>
        <%= link_to "Activités à venir", "#", class: "btn btn-ghost" %>
  </div>
  <div class="mt-3">
    <% @user.activities.each do |activity|%>
      <% if activity.end_date < Date.today %>
        <%= render "activities/activity_card", activity: activity %>
      <% end %>
      <% if activity.end_date > Date.today %>
        <%= render "activities/activity_card", activity: activity %>
      <% end %>
    <% end %>
  </div>
  <div class="mt-3">
      <% @user.participations.each do |participation|%>
        <% if participation.activity.end_date < Date.today %>
          <%= render "activities/activity_card", activity: participation.activity %>
        <% end %>
        <% if participation.activity.end_date > Date.today %>
          <%= render "activities/activity_card", activity: participation.activity %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<!-- =======================
Event list END -->
