<div class="banner position-relative">
  <div class="container">
    <h1 class="text-center">Profile</h1>
  </div>
  <div class="position-absolute top-100 start-50 translate-middle">
    <% if @user.avatar.attached? == false %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-big" %>
    <% else %>
      <%= cl_image_tag(@user.avatar.key, class: "avatar-big", crop: :fill) %>
    <% end %>
  </div>
</div>
<div class="container title-profil">
  <h1><%= @user.first_name %> <%= @user.last_name.capitalize %></h1>
  <h3><strong><%= ((Time.now - @user.birthday.to_time)/(60*60*24*365)).floor %></strong> ans</h3>
  <!-- =======================
  Badge START -->
  <div class="row flex-nowrap overflow-auto">
    <% @user.user_badges_as_receiver.group_by(&:badge_id).each do |badge_group| %>
      <% badge = badge_group[1].first.badge %>
      <div class="col align-self-start">
        <%= image_tag badge.icon, class: "badge-large" %>
        <h3><%= badge.name %> x <%= @num_badges[badge.id] %></h3>
      </div>
    <% end %>
  </div>
</div>
<div id="all-events">
  <div class="text-center mt-5">
    <input type="checkbox" id="switch">
    <div class="app">
      <div class="content">
        <label for="switch">
          <div class="toggle"></div>
          <div class="names">
            <p class="dark mt-2" data-bs-toggle="collapse" aria-expanded="true", aria-controls="past-events" data-bs-target="#future-events">À venir</p>
            <p class="light mt-2" data-bs-toggle="collapse" aria-expanded="false", aria-controls="past-events" data-bs-target="#past-events">Passées</p>
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="collapse show" id="future-events" data-bs-parent= "#all-events">
    <div class="card card-body">
      <p>
        <% @user.activities.each do |activity|%>
          <% if activity.end_date > Date.today %>
            <%= render "activities/activity_card", activity: activity %>
          <% end %>
        <% end %>
        <% @user.participations.each do |participation|%>
          <% if participation.activity.end_date > Date.today %>
            <%= render "activities/activity_card", activity: participation.activity %>
            <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="collapse" id="past-events" data-bs-parent= "#all-events">
    <div class="card card-body">
      <% @user.activities.each do |activity|%>
        <% if activity.end_date < Date.today %>
          <%= render "activities/activity_card", activity: activity %>
        <% end %>
      <% end %>
      <% @user.participations.each do |participation|%>
        <% if participation.activity.end_date < Date.today %>
          <%= render "activities/activity_card", activity: participation.activity %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
