<div class="footer-navbar" data-controller="sweet-alert">
  <nav class="navbar fixed-bottom navbar-lewagon">
    <div class="container d-flex justify-content-evenly py-3">
      <div class="text-center mx-4">
        <%= link_to "","/", class: "fa-solid fa-home fa-xl" %>
      </div>
      <div class="text-center mx-4">
        <%= link_to "", search_activities_path, class: "fa-solid fa-search fa-xl" %>
      </div>
      <div class="text-center mx-4">
        <% if current_user %>
          <% if current_user.score > 100 %>
            <%= link_to "", new_activity_path(current_user), class: "fa-solid fa-plus fa-xl" %>
          <% else %>
            <i class="fa-solid fa-plus fa-xl" data-action="click->sweet-alert#add"></i>
          <% end %>
        <% else %>
          <%= link_to "", new_user_session_path, class: "fa-solid fa-plus fa-xl" %>
        <% end %>
      </div>
      <div class="text-center mx-4">
        <% if current_user %>
          <% if current_user.avatar.attached? %>
            <%= link_to user_path(current_user) do %>
              <%= cl_image_tag(current_user.avatar.key, class: "avatar", crop: :fill) %>
              <% end %>
            <% else %>
              <%= link_to "", user_path(current_user), class: "fa-solid fa-user fa-xl" %>
            <% end %>
          <% else %>
            <%= link_to "", new_user_session_path, class: "fa-solid fa-user fa-xl" %>
          <% end %>
      </div>
    </div>
  </nav>
</div>
<%#
footer instagrame, home+search
search dans une nouvelle vue
index, search qui afficherais par défaut activité d'une catégorie s'il y a pas de recherche ou rien
épuré l'index -> maps
%>
