<div class="footer-navbar">
  <nav class="navbar fixed-bottom navbar-lewagon">
    <div class="container container-fluid py-3">
      <div class="text-center">
        <%= link_to "","/", class: "fa-solid fa-home" %>
      </div>
      <div class="text-center">
        <% if current_user %>
          <% if current_user.score > 100 %>
            <%= link_to "", new_activity_path(current_user), class: "fa-solid fa-plus" %>
          <% else %>
            <%= link_to "", infos_path, class: "fa-solid fa-plus" %>
          <% end %>
        <% else %>
          <%= link_to "", new_user_session_path, class: "fa-solid fa-plus" %>
        <% end %>
      </div>
      <div class="text-center">
        <% if current_user %>
          <% if current_user.avatar.attached? %>
            <%= link_to user_path(current_user) do %>
              <%= cl_image_tag(current_user.avatar.key, class: "avatar", crop: :fill) %>
              <% end %>
            <% else %>
              <%= link_to "", user_path(current_user), class: "fa-solid fa-user" %>
            <% end %>
          <% else %>
            <%= link_to "", new_user_session_path, class: "fa-solid fa-user" %>
          <% end %>
      </div>
    </div>
  </nav>
</div>
<%#
footer instagrame, home+search
search dans une nouvelle vue
index, search qui afficherais par défaut activité d'une catégorie s'il y a pas de recherche ou rien
épuré l'index -> maps
%>
