<div class="container chatroom" data-controller="chatroom-subscription"
     data-chatroom-subscription-chatroom-id-value="<%= @private_message.id %>">
  <h1>Messagerie</h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @private_message.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
    <% if @private_message.messages.empty? %>
      <p>Sois le premier à envoyer un message</p>
    <% end %>
  </div>
  <%= simple_form_for [@activity, @private_message, @message],
    html: {data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex"} do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Envoyer un message...",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Envoyer", class: "btn gradient-btn mb-3 mx-1" %>
  <% end %>
</div>
