<div class="small-card-activity">
  <% participation = current_user.participations.find_by(activity: activity) if current_user%>
  <%= link_to participation.present? && Date.today < activity.end_date ? activity_participation_path(activity, participation) : activity_path(activity) do %>
    <% if activity.picture.attached? %>
      <%= cl_image_tag(activity.picture.key, crop: :fill) %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <% end %>
  <% end %>
  <div class="small-card-activity-infos">
    <div>
      <h2><%= activity.title.truncate(13) %></h2>
      <p class="py-1"><%= activity.start_date.strftime("%d/%m/%Y") %><br>à <%= activity.start_date.strftime("%Hh%M") %></p>
    </div>
      <h3>
        <% if activity.price > 0 %>
          <%= activity.price %>€ /pers
        <% else %>
          Gratuit
        <% end %>
      </h3>
  </div>
</div>
