<div class="large-card-product">
  <%= link_to activity_path(activity) do %>
    <% if activity.picture.attached? %>
      <%= cl_image_tag(activity.picture.key, crop: :fill) %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <% end %>
  <% end %>
  <div class="large-card-product-infos">
    <div class="header">
      <h2><%= activity.title %></h2>
      <p class="date">le <%= activity.start_date.strftime("%-d/%-m/%y") %></p>
      <p class="date">de <%= activity.start_date.strftime("%Hh%M") %> à <%= activity.end_date.strftime("%Hh%M") %></p>
    </div>
    <p><%= activity.address %></p>
  </div>
</div>
