<div class="row shadow">
  <% if @activity.picture.attached? %>
    <%= cl_image_tag(@activity.picture.key, crop: :fill, class: "rounded-3 px-0") %>
  <% else %>
    <img class="rounded-3 px-0" src="https://www.sportdiet.fr/wp-content/uploads/2019/09/male-climber-on-overhanging-rock-against-PRHCNG5.jpg" />
  <% end %>
</div>
<div class="py-3">
  <% if @activity.user.avatar.attached? %>
    <%= cl_image_tag(@activity.user.avatar.key, class: "avatar-large", crop: :fill) %>
  <% else %>
    <%= image_tag 'default_avatar.png', class: "avatar" %>
  <% end %>
</div>

<%# ----- text zone -------%>
<div class="row">
  <h2><%= @activity.title %></h2>
  <p class="mb-1"><%= @activity.start_date.strftime("%-d/%-m/%y à %H:%M") %></p>
  <p class="mb-1"><%= @activity.address %></p>
  <span class="mb-3">
    <% if activity.price > 0 %>
      <%= activity.price %>€ /pers
    <% else %>
      Gratuit
    <% end %>
  </span>
  <p class="text-muted text-justify"><%= @activity.description %></p>
</div>
<%# ----- participants avatar -------%>
