<h1 class="text-center my-2">Curlling</h1>
<div class="row mt-5">
  <% @activities_cat.each do |activities| %>
  <% unless activities.empty? %>
  <div class="col align-self-start">
  <%= activities.first.category.name %>
  </div>
  <% end %>
  <div class="row flex-nowrap overflow-auto mt-2">
    <% activities.each do |activity| %>
      <div class="col align-self-end">
        <%= render "activities/activity_card_lg", activity: activity %>
      </div>
    <% end %>
    <% activities.each do |activity| %>
      <div class="col align-self-end">
        <%= render "activities/activity_card_lg", activity: activity %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
<div class="row flex-nowrap overflow-auto mt-5">
    <% @activities_cat.each do |activities| %>
    <% activities.each do |activity| %>
      <div class="col">
        <%= render "activities/activity_card_lg", activity: activity %>
      </div>
    <% end %>
    <% end %>
</div>
<div class="row flex-column mt-5">
    <% @activities_cat.each do |activities| %>
    <% activities.each do |activity| %>
      <div class="col">
        <%= render "activities/activity_card", activity: activity %>
      </div>
    <% end %>
    <% end %>
</div>
